# Each line is a file pattern followed by one or more owners

# By default, all files are owned by the Spec engineers team
* @maze-technology/spec-engineers

# Github engineers
.github/ @maze-technology/github-engineers