# Each line is a file pattern followed by one or more owners

# By default, all files are owned by the IDL engineers team
* @maze-technology/idl-engineers

# Github engineers
.github/ @maze-technology/github-engineers