name: Publish

on:
  push:
    branches:
      - main

env:
  JAVA_HOME: '' # INFO: Force JAVA_HOME to be empty, so gradle will use the sdkman java version
  GITHUB_TOKEN: ${{ github.token }}
  GITHUB_USERNAME: x-access-token

jobs:
  prepare_tag:
    name: Setup Tag
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.bump_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4

      - name: Bump version and push tag
        id: bump_version
        uses: anothrNick/github-tag-action@1.71.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DEFAULT_BUMP: patch
          DRY_RUN: true

  package:
    name: Package and Publish
    permissions:
      contents: read
      packages: write
      id-token: write
    env:
      GITHUB_USERNAME: x-access-token
    runs-on: ubuntu-latest
    needs: [prepare_tag]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache SDKMAN
        uses: actions/cache@v4
        with:
          path: ~/.sdkman
          key: sdkman-${{ runner.os }}-${{ hashFiles('.sdkmanrc') }}

      - name: Install SDKMAN
        uses: sdkman/sdkman-action@b1f9b696c79148b66d3d3a06f7ea801820318d0f

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Setup Coursier
        uses: coursier/setup-action@v1

      - name: Setup SmithyTranslate
        run: cs install --channel https://disneystreaming.github.io/coursier.json smithytranslate

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Setup Buf
        run: npm install -g @bufbuild/buf

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Build with Makefile
        run: make build
        env:
          JAVA_HOME: '' # INFO: Force JAVA_HOME to be empty, so gradle will use the sdkman java version

      - name: Code vulnerability scan
        uses: anchore/scan-action@v6
        with:
          path: '${{ github.workspace }}/build/libs'
          fail-build: true
          severity-cutoff: 'high'
          output-format: table
          only-fixed: false

      - name: Publish library ${{ needs.prepare_tag.outputs.VERSION }}
        env:
          GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          JAVA_HOME: '' # INFO: Force JAVA_HOME to be empty, so gradle will use the sdkman java version
        run: ./gradlew -Pversion=${{ needs.prepare_tag.outputs.VERSION }} publish

  release:
    name: Release ${{ needs.prepare_tag.outputs.VERSION }}
    runs-on: ubuntu-latest
    needs: [package, prepare_tag]
    permissions:
      contents: write
    steps:
      - name: Create Tag
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ needs.prepare_tag.outputs.VERSION }}",
              sha: context.sha
            })

      - name: Create Changelog VERSION=${{ needs.prepare_tag.outputs.VERSION }}
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v5
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Create Release
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          script: |
            github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "${{ needs.prepare_tag.outputs.VERSION }}",
              name: "${{ needs.prepare_tag.outputs.VERSION }}",
              body: "${{ steps.github_release.outputs.CHANGELOG }}",
              generate_release_notes: true
            })
